:root{
    --primary-color: #4caf50;
    --light-bg:#f8f9fa;
    --text-dark:#343a40;
    --primary-dark:#45a049;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:"roboto",sans-serif;
    line-height: 1.7;
    padding:30px 15px;
    background-color: var(--light-bg);
    color: var(--text-dark);
}
.foodie-recipes{
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
    padding: 0 15px;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: -1px;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    margin-inline: auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}
#search-input{
    padding:15px 20px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    outline: none;
    border-radius: 8px 0 0 8px;
    border: 1px solid #e9ecef;
    flex-grow: 1;
}
#seaarch-input:focus{
    border-color:var(--primary-color)
}
#search-button{
    padding: 13px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 0px 8px 8px 0px;
    color: #fff;
    background-color: var(--primary-color);
    font-family: "roboto",sans-serif;
    font-weight: 600;
}
#search-button:hover{
    background-color: var(--primary-dark);
}
.get-random-recipe-button{
    padding: 10px 25px;
    font-size: 0.95rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: "roboto",sans-serif;;
    background-color: #ff9800;
    border: none;
    border-radius: 8px;
    color: #fff;
}
.get-random-recipe-button:hover{
    background: color #f57c00;
    transform: translateY(-2px)
}
.search-results{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    margin-top: 30px
}
.recipe-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.recipe-item{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction:column;
    cursor: pointer;
    width: 100%;
    transition: all 0.25s ease-in-out;
}
.recipe-item:hover{
    transform:translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
}
.recipe-item h3{
    font-size: 1.15rem;
    font-weight: 600;
    padding: 15px;
    margin: 0;
}